* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  background-color: rgb(226, 248, 255);
}

.App {
  width: 100%;
  min-height: 100vh;
}

.AppElements {
  width: 100%;
  min-height: 100vh;
  font-size: 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.AppElements > a {
  text-decoration: none;
  color: black;
  transition: all 0.3s;
}

.AppElements > a:hover {
  color: darkgreen;
}

.RestElements {
  padding: 50px;
  width: 100%;
  min-height: fit-content;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.ResponsiveLeftMenu {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(0, 150, 255);
}

.loginPage {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background: url("./images/nature1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.loginForm {
  background-color: rgb(255, 255, 255, 0.35);
  box-shadow: 0px 8px 32px 0 rgba(157, 255, 0, 0.6);
  backdrop-filter: blur(3px);
  padding: 16px;
  border-radius: 16px;
}

.socialLogin {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
  color: darkslategray;
  font-size: 24px;
}

.socialLogin > span {
  cursor: pointer;
  transition: all 0.3s;
}

.socialLogin > span:hover {
  scale: 1.2;
}

.watermark {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 500px) {
  .mobileView {
    display: none;
  }
}
@media (max-width: 500px) {
  .tabletView {
    display: none;
  }
}


/* Image Gallery CSS */

.imageGalleryParentDiv {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  padding: 20px 10px 0 10px;
  background-color: white;
}

.galleryTitle {
  text-align: center;
  font-family: monospace;
}

.imageGallerySearchBar {
  max-width: 500px;
  display: flex;
  margin: auto;
}

.cardStyle {
  height: 300px;
  margin: 12px;
  overflow: hidden;
  display: grid;
  place-content: center;
  padding: 5px;
}

.amountDisplayText {
  font-size: 1.5rem;
  padding-left: 10px;
}